aside, footer, nav {
    border-top: 1px gray solid;
}

.body {
    background-color: rgb(146, 211, 211);
    font-size: 19px;
    font-weight: normal;
    letter-spacing: .1px;
    line-height: 33px;
    font-family:cursive;
    font-family: Georgia, serif;

}

.certertitulo {
    text-align: center;
    color:blue;
    overflow: auto;
}

.styletable {
    
        background: rgb(196, 230, 219); 
        border-color: rgb(239, 239, 245); 
        border-style: solid; 
}

.paragrafodesc {
    width: 70%;
    height: 500px;
    text-align: justify

    
}

aside {
    border: 70px;
    top: 210px; 
    position: fixed;
    width: 20%;
    height: 100%;
    right: 0;
    
}



  
  .header {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    text-align: center;
  }
  
  h1 {
    margin-botton: 30px;
    margin-top: 30px;
    
    }


  h2  {
    color: rgb(3, 3, 233);
    width: 100%;
    text-align: center;
    margin-top: auto;
  }
   h3 {color: rgb(3, 3, 233);
   width: 65%;
   text-align: center;
   }

  img {
    display: block;
    max-width: 100%;
    width: 500px;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
    
  }
  
  nav {
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px gray solid;
  }
  
  nav ul {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    list-style-type: none;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  nav ul li a {
    padding: 5px 10px;
    text-decoration: none;
  }
  
  table, th, td {
    border: solid 1px 10 rgb(19, 17, 17);
    
  }
  
  table {
    width: 50px;
  }